body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #e9e9e9;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
	font-size: 30px;
}

input[type=submit]:hover {
    opacity: 0.8;
}


.container {
    padding: 16px;
	width: 800px;
	margin: auto;
	border: 1px solid black;
	border-radias: 10px;
	background-color: white;
}

span.psw {
    float: right;
    padding-top: 16px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}